
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <p class="font-weight-bold ml-1" target="_blank">Lookalike</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <p></p> 
              HTN 2021 - coded by <p target="_blank">Juliana and Teresa</p>.
            </div>
          </div>
        </div>
      </div>
    </footer>
